---
layout: main
title: Blog
---
#posts
  {% for post in site.posts limit:5 %}
  .post
    .row
      .span6.offset1
        %h3
          %a{:href => "{{ post.url }}"} {{ post.title }}
      .span5
        .description
          {{ post.excerpt }}
          .details
            %em Posted on {{ post.date | date_to_long_string }}.
    {% endfor %}
  .row
    .span12
      %ul
        {% for post in site.posts offset:5 %}
        %li.post_links
        %a{:href => "{{ post.url }}"} {{ post.title }}
        {% endfor %}
