---
layout: main
title: Contact
---
.contact
  .left
    %img{:src => "/images/rob.jpg"}/
  .left.address
    %div
      %b
        %a{:href => "mailto:rob@notch8"}
          Rob Kaufman
    %div
      Partner and Founder
    %div
      rob-AT-notch8.com
    %div
      9550 High Park Lane
    %div
      San Diego, CA 92129
    %div

  .right
    %object{:data => "https://clients4.google.com/voice/embed/webCallButton", :height => "85", :type => "application/x-shockwave-flash", :width => "230"}
      %param{:name => "movie", :value => "https://clients4.google.com/voice/embed/webCallButton"}/
      %param{:name => "wmode", :value => "transparent"}/
      %param{:name => "FlashVars", :value => "id=e1649b705beb4bd795eb8e05e59043df4bc13741&style=0"}/
.contact
  .left
    %img{:src => "/images/matt.jpg"}
  .left.address
    %div
      %b
        %a{:href => "mailto:matt@notch8"}
          Matt Clark
    %div
      Partner
    %div
      matt-AT-notch8.com
    %div
      792 NE Laurelhurst PL
    %div
      Portland, OR 97212

