---
layout: main
title: Index
---
#index
  .row
    .span8.offset1
      %h1 We build web applications
  #slideshow.row
    #imageContainer.span10.offset1
      %img{:height => "300", :src => "{{'portfolio/assaydepot.png' | asset_path}}", :width => "800"}/
      %img{:height => "300", :src => "{{'portfolio/measuredvoice.png' | asset_path}}", :width => "800"}/
      %img{:height => "300", :src => "{{'portfolio/connect2need.png' | asset_path}}", :width => "800"}/
      %img{:height => "300", :src => "{{'portfolio/sdruby.png' | asset_path}}", :width => "800"}/
      %img{:height => "300", :src => "{{'portfolio/culturewaves.png' | asset_path}}", :width => "800"}/
      %img{:height => "300", :src => "{{'portfolio/foodchannel.png' | asset_path}}", :width => "800"}/
      %img{:height => "300", :src => "{{'portfolio/ljk.png' | asset_path}}", :width => "800"}/
      %img{:height => "300", :src => "{{'portfolio/icalshare.png' | asset_path}}", :width => "800"}/
      %img{:height => "300", :src => "{{'portfolio/turn2live.png' | asset_path}}", :width => "800"}/
      %img{:height => "300", :src => "{{'portfolio/cinematreasures.png' | asset_path}}", :width => "800"}/
      %img{:height => "300", :src => "{{'portfolio/ecrowds.png' | asset_path}}", :width => "800"}/
      %img{:height => "300", :src => "{{'portfolio/redrover.png' | asset_path}}", :width => "800"}/

    .clear
  #aboutNotch8
    .row
      .span4.offset3
        %h2 More about who we are

      .span4
        .weBelieveIn
          %h3 We believe in
          %ul
            %li Being on time
            %li Doing things right
            %li Strong communication
        .weStriveFor
          %h3 We strive for
          %ul
            %li Strong community involvement
            %li Happy informed customers
            %li Good work / life balance
  :javascript
    $(document).ready(function() {
      $('#imageContainer').cycle();
    });
