---
layout: main
title: Portfolio
---
.row
  .span10.offset1
    #portfolio
      %img{:src => "{{'portfolio/shoptab.png' | asset_path}}"}
      %img{:src => "{{'portfolio/assaydepot-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/turn2live-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/measuredvoice-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/connect2need-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/sdruby-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/callaway-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/culturewaves-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/foodchannel-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/ljk-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/ecrowds-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/gumgum-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/icalshare-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/redrover-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/cinematreasures-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/locomobi-icon.png' | asset_path}}"}
      %img{:src => "{{'portfolio/whurls-icon.png' | asset_path}}"}
