---
navigation:
  - text: 'Home'
    url: '/index.html'
  - text: 'Portfolio'
    url: '/portfolio.html'
  - text: 'Services'
    url: '/services.html'
  - text: 'Speaking'
    url: '/speaking.html'
  - text: 'Contact'
    url: '/contact.html'
---

!!!
%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
  %title Notch8 - {{ page.title }}

  {{ 'main' | stylesheet }}

  %script{:src =>"//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
  {{ 'bootstrap.min' | javascript }}
  {{ 'jquery.cycle.lite' | javascript }}

  %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "/articles.atom", :rel => "alternate", :title => "Feed for Notch8", :type => "application/atom+xml"}/


  %body#index
    #topNav
      .row
        .logoContainer.span2
          %a{:href => "/"}
            %img{:src => "{{'logo_notch8_small.gif' | asset_path}}"}
        .navContainer.span8
          %ul.nav.nav-pills
            {% for link in page.navigation %} 
            {% if page.url == link.url %} 
            %li{class: 'active'}
              %a{:href=> "#"}
                {{link.text}}
            {% else %} 
            %li
              %a{:href => "{{link.url}}"} {{link.text}}
            {% endif %} 
            {% endfor %} 
    #mainContent
      {{ content }}
    #footer
      .row
        .span11.offset1
          copyright © 2013 Notch8 and licensed under the
          %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/us/"} creative commons attribution-share alike license

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8635145-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

