<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Notch8 - {{ page.title }} </title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/native.css" type="text/css" media="all" title="no title" charset="utf-8">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="alternate" type="application/atom+xml" href="/articles.atom" title="Feed for Notch8">
  <script src="http://cdn.jquerytools.org/1.2.3/jquery.tools.min.js"></script>
  <script src="/javascripts/jquery.cycle.lite.1.0.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8635145-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body id="index">
  <div class="white_box">
    <div class='left'>
      <a href='/'>
        <img src="/images/logo_notch8_small.gif">
      </a>
    </div>
    <div class='right'>
      <h2 id='slogan'>Full Throttle Ruby and Rails Development</h2>
    </div>
    <div class="header">
      <h3><a href='/'>Home</a></h3>
      <h3><a href='/blog.html'>Blog</a></h3>
      <h3><a href='/portfolio.html'>Portfolio</a></h3>
      <h3><a href='/services.html'>Services</a></h3>
      <!-- <h3><a href='#'>Projects</a></h3> -->
      <h3><a href='/speaking.html'>Speaking</a></h3>
      <!-- <h3><a href='/about.html'>About</a></h3> -->
      <h3><a href='/contact.html'>Contact</a></h3>
    </div>
    <div class="container">
      {{ content }}
    </div>
    
  </div>
  <div class="white_box">
    copyright © 2010 Notch8 and licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">creative commons attribution-share alike license</a>
  </div>
</body>
